@font-face {
    font-family: punk-kid;
    font-style: normal;
    font-weight: 400;
    src: url(https://rawcdn.githack.com/VikingRoses/burn-the-city/3e1d0517f117390efdc74ebcd3487a9a8b617c07/btc-fonts/punk-kid/punk%20kid.ttf) ;
   }